<p style="color: green"><%= notice %></p>

<div class="cover mb-4 p-4" >
  <h1>Mi Blog Personal</h1>
  <p>Arsenio Jimenez, Desarrolador Web</p>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%# <div> %>
  <%# <%= render partials:"posts/card", collection: @posts, as: "post" %>
<%# </div> %>

<%= link_to "New post", new_post_path %>
